body {
  text-align: center;
}

h1 {
  color: #333;
}

#question {
  margin-top: 50px;
  font-size: 20px;
}

#answers {
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 50px;
  font-size: 24px;
}
